<html>
    <title>404 error</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
     <link rel="stylesheet" href="../css/styles.css" />
    <body>
        <div class="main-content">
           
        <h1>{{errorName}}</h1> 
            {{>header}}
        </div>
       
        {{>footer}}

    </body>
</html>