<html lang="en">
  <head>
    <title>Help Page</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
       {{>header}} 
    {{!-- this is partial --}}
    <p>{{message}}</p>
    </div>
   
    {{>footer}}
  </body>
</html>